<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>account</key>
	<string>em6567</string>
	<key>accounts</key>
	<string>em6567</string>
	<key>actionmenu</key>
	<string>em8889</string>
	<key>address</key>
	<string>em8582</string>
	<key>airdrop</key>
	<string>em19745</string>
	<key>airplaymirroring</key>
	<string>em19822</string>
	<key>airport</key>
	<string>em6538</string>
	<key>alerts</key>
	<string>em6529</string>
	<key>alias</key>
	<string>em8808</string>
	<key>aliases</key>
	<string>em8808</string>
	<key>allmyfiles</key>
	<string>em19850</string>
	<key>aperture</key>
	<string>em10044</string>
	<key>applediagnostics</key>
	<string>em19876</string>
	<key>appleevents</key>
	<string>em6507</string>
	<key>applehardwaretest</key>
	<string>em19876</string>
	<key>appleid</key>
	<string>em19854</string>
	<key>applemenu</key>
	<string>em6503</string>
	<key>application</key>
	<string>em6490</string>
	<key>backingup</key>
	<string>em6445</string>
	<key>backtomymac</key>
	<string>em17693</string>
	<key>backup</key>
	<string>em6712</string>
	<key>basics</key>
	<string>em6437</string>
	<key>battery</key>
	<string>em9972</string>
	<key>beep</key>
	<string>em6529</string>
	<key>bluetooth</key>
	<string>em6427</string>
	<key>bonjour</key>
	<string>em6425</string>
	<key>boot</key>
	<string>em8490</string>
	<key>bootcamp</key>
	<string>em10074</string>
	<key>bootdisk</key>
	<string>em8490</string>
	<key>burn</key>
	<string>em6701</string>
	<key>burncd</key>
	<string>em6701</string>
	<key>burnfolder</key>
	<string>em6280</string>
	<key>burning</key>
	<string>em6279</string>
	<key>burningdiscs</key>
	<string>em6275</string>
	<key>can'topen</key>
	<string>em13365</string>
	<key>can'tprint</key>
	<string>em13622</string>
	<key>cd</key>
	<string>em6253</string>
	<key>cd-r</key>
	<string>em6252</string>
	<key>changeicon</key>
	<string>em13662</string>
	<key>child</key>
	<string>em6919</string>
	<key>children</key>
	<string>em13453</string>
	<key>clock</key>
	<string>em6216</string>
	<key>compressor</key>
	<string>em19823</string>
	<key>computername</key>
	<string>em6183</string>
	<key>configurationprofile</key>
	<string>em19853</string>
	<key>cursor</key>
	<string>em5433</string>
	<key>dashboard</key>
	<string>em6122</string>
	<key>date&amp;timepreferences</key>
	<string>em6117</string>
	<key>defaultapplication</key>
	<string>em13656</string>
	<key>defragment</key>
	<string>em13659</string>
	<key>desktop</key>
	<string>em6095</string>
	<key>desktop&amp;screensaverpreferences</key>
	<string>em6094</string>
	<key>desktoppicture</key>
	<string>em9993</string>
	<key>dictate</key>
	<string>em19782</string>
	<key>dictation</key>
	<string>em19782</string>
	<key>digitalvideo</key>
	<string>em8173</string>
	<key>discs</key>
	<string>em6071</string>
	<key>dockpreferences</key>
	<string>em13368</string>
	<key>download</key>
	<string>em6048</string>
	<key>downloadsfolder</key>
	<string>em13381</string>
	<key>draganddrop</key>
	<string>em19815</string>
	<key>dragging</key>
	<string>em19815</string>
	<key>dropbox</key>
	<string>em6038</string>
	<key>dv</key>
	<string>em8173</string>
	<key>dvds</key>
	<string>em19240</string>
	<key>dvdsharing</key>
	<string>em19240</string>
	<key>eject</key>
	<string>em6001</string>
	<key>ejecting</key>
	<string>em6000</string>
	<key>ejectingdisks</key>
	<string>em6001</string>
	<key>facsimile</key>
	<string>em5954</string>
	<key>fax</key>
	<string>em19166</string>
	<key>faxing</key>
	<string>em19166</string>
	<key>filesharing</key>
	<string>em5946</string>
	<key>finalcut</key>
	<string>em17934</string>
	<key>finalcutpro</key>
	<string>em10168</string>
	<key>finalcutstudio</key>
	<string>em17934</string>
	<key>find</key>
	<string>em6611</string>
	<key>finderwindows</key>
	<string>em13621</string>
	<key>firewire</key>
	<string>em5932</string>
	<key>folders</key>
	<string>em5924</string>
	<key>fonts</key>
	<string>em5918</string>
	<key>fontsfolder</key>
	<string>em19383</string>
	<key>forgetpassword</key>
	<string>em13625</string>
	<key>forgotmypassword</key>
	<string>em19839</string>
	<key>forgotpassword</key>
	<string>em13625</string>
	<key>fragmentation</key>
	<string>em13659</string>
	<key>full-screen</key>
	<string>em6936</string>
	<key>fullscreen</key>
	<string>em5893</string>
	<key>garageband</key>
	<string>em5885</string>
	<key>generalpreferences</key>
	<string>em8737</string>
	<key>headphones</key>
	<string>em17829</string>
	<key>headset</key>
	<string>em17829</string>
	<key>help</key>
	<string>em5854</string>
	<key>homefolder</key>
	<string>em5847</string>
	<key>ibook</key>
	<string>em19508</string>
	<key>ibooks</key>
	<string>em19507</string>
	<key>ibooksauthor</key>
	<string>em19824</string>
	<key>ibooksstore</key>
	<string>em19508</string>
	<key>icons</key>
	<string>em5825</string>
	<key>imovie</key>
	<string>em5803</string>
	<key>installingmacosx</key>
	<string>em5775</string>
	<key>ipaddress</key>
	<string>em5756</string>
	<key>iphoto</key>
	<string>em5754</string>
	<key>itunes</key>
	<string>em5745</string>
	<key>iwork</key>
	<string>em5738</string>
	<key>keyboardshortcuts</key>
	<string>em5721</string>
	<key>keynote</key>
	<string>em8525</string>
	<key>keysymbol</key>
	<string>em19884</string>
	<key>keysymbols</key>
	<string>em19884</string>
	<key>labels</key>
	<string>em5714</string>
	<key>libraryfolder</key>
	<string>em5704</string>
	<key>logicpro</key>
	<string>em9983</string>
	<key>mainstage</key>
	<string>em19825</string>
	<key>malware</key>
	<string>em17801</string>
	<key>mavericks</key>
	<string>em19921</string>
	<key>menubar</key>
	<string>em5638</string>
	<key>microphone</key>
	<string>em5631</string>
	<key>microphones</key>
	<string>em5631</string>
	<key>missioncontrol</key>
	<string>em19673</string>
	<key>missioncontrolpreferences</key>
	<string>em19851</string>
	<key>modifierkeys</key>
	<string>em10182</string>
	<key>motion</key>
	<string>em9982</string>
	<key>moviesfolder</key>
	<string>em19384</string>
	<key>musicfolder</key>
	<string>em19386</string>
	<key>network</key>
	<string>em5571</string>
	<key>networkaccountserver</key>
	<string>em19812</string>
	<key>new</key>
	<string>em6788</string>
	<key>numbers</key>
	<string>em17985</string>
	<key>openapplication</key>
	<string>em13366</string>
	<key>opticaldrive</key>
	<string>em17988</string>
	<key>osx</key>
	<string>em19921</string>
	<key>pages</key>
	<string>em2146</string>
	<key>paper</key>
	<string>em5486</string>
	<key>parentalcontrols</key>
	<string>em5483</string>
	<key>password</key>
	<string>em5477</string>
	<key>pathname</key>
	<string>em8878</string>
	<key>pdf</key>
	<string>em5471</string>
	<key>pdfs</key>
	<string>em5471</string>
	<key>permissions</key>
	<string>em5468</string>
	<key>picturesfolder</key>
	<string>em19385</string>
	<key>pointer</key>
	<string>em5433</string>
	<key>powerbutton</key>
	<string>em19908</string>
	<key>powernap</key>
	<string>em19834</string>
	<key>print</key>
	<string>em18088</string>
	<key>printer</key>
	<string>em8175</string>
	<key>printerdriver</key>
	<string>em19174</string>
	<key>printers</key>
	<string>em5400</string>
	<key>printing</key>
	<string>em18088</string>
	<key>privileges</key>
	<string>em7012</string>
	<key>publicfolder</key>
	<string>em5373</string>
	<key>quicklook</key>
	<string>em12337</string>
	<key>rebuild</key>
	<string>em7033</string>
	<key>rebuilddesktop</key>
	<string>em7033</string>
	<key>recentitems</key>
	<string>em19423</string>
	<key>recovered</key>
	<string>em10027</string>
	<key>reinstallingsoftware</key>
	<string>em5312</string>
	<key>remoteappleevents</key>
	<string>em5310</string>
	<key>remotelogin</key>
	<string>em10090</string>
	<key>rendezvous</key>
	<string>em6425</string>
	<key>right-click</key>
	<string>em8228</string>
	<key>rightclick</key>
	<string>em13665</string>
	<key>rootuser</key>
	<string>em5271</string>
	<key>scan</key>
	<string>em18438</string>
	<key>scanner</key>
	<string>em8207</string>
	<key>scanning</key>
	<string>em18438</string>
	<key>screensaver</key>
	<string>em18260</string>
	<key>screensharing</key>
	<string>em10160</string>
	<key>screenshot</key>
	<string>em18087</string>
	<key>screenshots</key>
	<string>em18087</string>
	<key>search</key>
	<string>em5202</string>
	<key>server</key>
	<string>em8200</string>
	<key>servers</key>
	<string>em8200</string>
	<key>services,using</key>
	<string>em9939</string>
	<key>share</key>
	<string>em5165</string>
	<key>sharebutton</key>
	<string>em19816</string>
	<key>sharedfolder</key>
	<string>em5166</string>
	<key>sharesheets</key>
	<string>em19816</string>
	<key>sharing</key>
	<string>em5165</string>
	<key>sharingyourcomputer</key>
	<string>em5155</string>
	<key>shortcut</key>
	<string>em8597</string>
	<key>shortcuts</key>
	<string>em5721</string>
	<key>shutdown</key>
	<string>em18108</string>
	<key>sidebar</key>
	<string>em10199</string>
	<key>simplefinder</key>
	<string>em5140</string>
	<key>sleep</key>
	<string>em5138</string>
	<key>slideshow</key>
	<string>em5137</string>
	<key>smartfolder</key>
	<string>em5130</string>
	<key>soundinput</key>
	<string>em19305</string>
	<key>soundinputdevice</key>
	<string>em19252</string>
	<key>soundinputdevices</key>
	<string>em19252</string>
	<key>soundoutput</key>
	<string>em19306</string>
	<key>spaces</key>
	<string>em10028</string>
	<key>speakers</key>
	<string>em5099</string>
	<key>speech</key>
	<string>em5094</string>
	<key>speechrecognition</key>
	<string>em5092</string>
	<key>spotlight</key>
	<string>em5084</string>
	<key>stacks</key>
	<string>em13353</string>
	<key>stationery</key>
	<string>em5073</string>
	<key>stuffit</key>
	<string>em13660</string>
	<key>symbol</key>
	<string>em6797</string>
	<key>tags</key>
	<string>em19878</string>
	<key>texttospeech</key>
	<string>em18019</string>
	<key>timemachine</key>
	<string>em9936</string>
	<key>toolbar</key>
	<string>em4993</string>
	<key>trash</key>
	<string>em4978</string>
	<key>uninstall</key>
	<string>em8661</string>
	<key>uninstalling</key>
	<string>em8661</string>
	<key>update</key>
	<string>em4952</string>
	<key>usb</key>
	<string>em4947</string>
	<key>useraccounts</key>
	<string>em2674</string>
	<key>users</key>
	<string>em9942</string>
	<key>version</key>
	<string>em4930</string>
	<key>versions</key>
	<string>em4930</string>
	<key>virus</key>
	<string>em8545</string>
	<key>vo</key>
	<string>em4904</string>
	<key>voiceover</key>
	<string>em4904</string>
	<key>voicerecognition</key>
	<string>em5092</string>
	<key>volumes</key>
	<string>em4895</string>
	<key>wallpaper</key>
	<string>em9993</string>
	<key>what'snew</key>
	<string>em4879</string>
	<key>widgets</key>
	<string>em3608</string>
	<key>windows</key>
	<string>em4869</string>
	<key>zappingpram</key>
	<string>em12262</string>
	<key>zappram</key>
	<string>em17783</string>
	<key>zoom</key>
	<string>em4845</string>
</dict>
</plist>
