<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>alder-divsufsort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>bwt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>mksary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>sasearch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>suftest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>unbwt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D0DBE10117DA7012009563F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0DBE13617DA89F8009563F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0DBE14517DA8A4A009563F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0DBE15217DA8A54009563F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0DBE15F17DA8A5E009563F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0DBE17217DA8B1B009563F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
