<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>alder-avl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>avl-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>bst-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>pavl-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>pbst-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>prb-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>rb-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>rtavl-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>rtbst-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>rtrb-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>tavl-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>tbst-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>trb-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D00B8C7517EB658000ACF6CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0672F8617EB74240008C708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0672FC917EB75040008C708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0672FDB17EB76870008C708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0672FE817EB76940008C708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0672FF517EB76B80008C708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D067300217EB76C80008C708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D067300F17EB76D40008C708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D067301C17EB76DF0008C708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D067302917EB76EA0008C708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D067303617EB76F50008C708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D067304317EB76FF0008C708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D067305017EB77070008C708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D067305D17EB77110008C708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
