<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>brass-ds-b-trees.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>brass-ds-height-balanced-tree.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>brass-ds-interval-trees.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>brass-ds-measure-tree.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>brass-ds-queue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>brass-ds-redblack-trees.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>brass-ds-search-trees.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>brass-ds-segment-trees.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>brass-ds-stack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>brass-ds-stack2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>brass-ds-union-tree.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>brass-ds-weight-balanced-trees.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>brass-ds.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>queue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D0170EDA17C1EBEF007A74A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0170EEC17C21FA3007A74A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0170EFC17C221AA007A74A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0170F0A17C2230F007A74A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0301C2B17C07D3600845194</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D07D765017C0B8AE0017192C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D07D766117C17C780017192C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0FA624717BE385800261716</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0FA625717BE389A00261716</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0FA626817BF01F200261716</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0FA627817BF47B600261716</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0FA628817BF4C0C00261716</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0FA629817BF535500261716</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0FA62A517BF536C00261716</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
