<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entries</key>
	<array>
		<dict>
			<key>group</key>
			<string>Project</string>
			<key>entries</key>
			<array>
				<dict>
					<key>name</key>
					<string>welcome.xfast</string>
					<key>url</key>
					<string>http://www.apple.com</string>
				</dict>
				<dict>
					<key>name</key>
					<string>fasta.xfast</string>
					<key>url</key>
					<string>http://www.apple.com/macosx/</string>
				</dict>
				<dict>
					<key>name</key>
					<string>fastq.xfast</string>
					<key>url</key>
					<string>http://www.apple.com/itunes/</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
