<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>alder-kmer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>alderg-kmer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D0176ECC18763349007BAB14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0176EF218763349007BAB14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0176F2218768518007BAB14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0176F3C18768518007BAB14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0176F53187686B1007BAB14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0176F6D187686B1007BAB14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0203350187750FE00A193DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D020336A187750FE00A193DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0F7F0841807768000B4BDDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0F7F179180A44CB00B4BDDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0F7F186180A44FF00B4BDDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
