<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bwt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>libdivsufsort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>mksary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>sasearch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>suftest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>unbwt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D00518B817B857FB00F3EC62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D00518D517B86D1900F3EC62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D00518E217B86D2B00F3EC62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D00518EF17B86D4700F3EC62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D00518FC17B86D5100F3EC62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D005190917B86D8100F3EC62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
